.events__container {
    display: flex;
    flex-direction: column;
}

.events__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.events__card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 500px;
    margin-bottom: 50px;
    /* border: 1px solid var(--border); */
}

.events__small-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 30px;
}

.events__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.events__img {
    object-fit: fill;
    width: 100%;
}

.events__title {
    line-height: 33px;
    margin-bottom: 30px;
}

.events__content {
    margin-bottom: 30px;
}

.events__sub-title {
    line-height: 33px;
    margin-bottom: 3px;
}

.events__small-descr {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 15px 22px 5px 0;
    width: 100%;
}

.events__adress:not(:last-child) {
    margin-bottom: 3px;
}

.events__card-description {
    max-width: 390px;
    line-height: 32px;
    margin-bottom: 58px;
}

.events__card-btn {
    border-bottom: 1px solid var(--violet);
    padding-bottom: 4px;
}

.events__container-btn {
    display: flex;
    justify-content: center;
}